In [31]:
import covid19pandas as cod
import pandas as pd

In [32]:
df = cod.get_data_jhu()

These data were obtained from Johns Hopkins University (https://github.com/CSSEGISandData/COVID-19).

In [33]:
df.head()

,date,UID,iso2,iso3,code3,Province/State,Country/Region,Lat,Long,Combined_Key,Population,cases,deaths,recovered
0,2020-01-22,4.0,AF,AFG,4.0,NaN,Afghanistan,33.93911,67.709953,Afghanistan,38928341.0,0,0,0
1,2020-01-22,8.0,AL,ALB,8.0,NaN,Albania,41.15330,20.168300,Albania,2877800.0,0,0,0
2,2020-01-22,12.0,DZ,DZA,12.0,NaN,Algeria,28.03390,1.659600,Algeria,43851043.0,0,0,0
3,2020-01-22,20.0,AD,AND,20.0,NaN,Andorra,42.50630,1.521800,Andorra,77265.0,0,0,0
4,2020-01-22,24.0,AO,AGO,24.0,NaN,Angola,-11.20270,17.873900,Angola,32866268.0,0,0,0

In [34]:
df = df[df["Country/Region"]=="Zambia"]

In [35]:
df.shape

(1143, 14)

In [36]:
df.head(100)

,date,UID,iso2,iso3,code3,Province/State,Country/Region,Lat,Long,Combined_Key,Population,cases,deaths,recovered
288,2020-01-22,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,0,0,0
578,2020-01-23,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,0,0,0
868,2020-01-24,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,0,0,0
1158,2020-01-25,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,0,0,0
1448,2020-01-26,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27838,2020-04-26,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,88,3,42
28128,2020-04-27,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,88,3,42
28418,2020-04-28,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,95,3,42
28708,2020-04-29,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,97,3,54
28998,2020-04-30,894.0,ZM,ZMB,894.0,NaN,Zambia,-13.133897,27.849332,Zambia,18383956.0,106,3,55

In [37]:
df.to_csv("Zambia_COVID19_Data.csv", index=True)